# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor folders
.zed/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Datasets
data/

# PyTorch / ML artifacts
*.pt
*.pth
*.h5
*.ckpt
logs/
